.add-blog-section {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-blog-form {
  background-color: rgb(32, 32, 32);
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-size: 1.1em;
  box-shadow: 0 0 8px orangered;
}

.add-blog-form-fields {
  display: flex;
  flex-direction: column;
}

.add-blog-form-field {
  padding: 5px;
}

.add-blog-form-field input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.add-blog-form-field input::placeholder {
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}


.add-blog-form-fields button {
  margin-top: 8px;
  background-color: orangered;
  font-weight: 600;
  color: white;
  border: none;
  width: 80px;
  padding: 4px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.add-blog-form-fields button:hover {
  opacity: 0.5;
}
